@import 'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto';

* {
    outline: none;
}

@font-face {
    font-family: 'Monda-Regular';
    src: url(Monda-Regular.ttf) format('truetype');
}


body {
    margin: 0;
    font-family: 'Monda-Regular';
}

.icon {
    position: absolute;
    color: #fff;
    font-size: 55px;
    top: 55px;
    left: 55px;
    transform: translate(-50%, -50%);
}

.status-wrapper {
    display: inline;
    position: absolute;
    top: 95%;
    left: 85%;
}

.circle {
    display: inline-block;
    font-size: 40px;
    width: 110px;
    height: 25px;
    border-radius: 15px;
    border: none;
    background-color: white;
}

#status1 {
    position: absolute;
    top: 55%;
    left: 50%;
}
#status2 {
    position: absolute;
    top: 55%;
    left: 60%;
}
#status3 {
    position: absolute;
    top: 55%;
    left: 70%;
}

.notRec {
    background-color: #dedcdc;
}

.Rec {
    background-color: #6d9886;
}

.page-wrapper {
    position: absolute;
    top: 50%;
    right: 27%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recorder_wrapper {
    position: absolute;
    top: 25%;
    left: 5%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.recorder {
    display: inline-block;
    text-align: center;
    width: 500px;
    max-width: 100%;
}

.record_btn {
    width: 300px;
    height: 300px;
    font-family: 'Material Icons';
    font-size: 96px;
    color: white;
    background: #6d9886;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
    box-shadow: 0px 0px 40px 5px rgb(0 0 0 / 22%);
}

.record_btn:hover {
    transition: 0.15s linear;
    transform: scale(1.05);
}

.record_btn:active {
    background: #f5f5f5;
}

.record_btn:after {
    content: '\E029';
}

.record_btn[disabled] {
    border: 2px solid #ccc;
}

.record_btn[disabled]:after {
    content: '\E02B';
    color: #ccc;
}

.record_btn[disabled]:hover {
    transition: 0.15s linear;
    transform: none;
}

.record_btn[disabled]:active {
    background: none;
}

.recording {
    animation: recording 2s infinite ease-in-out;
    position: relative;
}

.recording:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    margin: 0px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
    from {
        transform: scale(1.1);
    }

    50% {
        transform: none;
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes recording_before {
    80% {
        width: 200px;
        height: 200px;
        margin: -100px;
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.record_canvas {
    width: 60px;
    height: 100px;
    display: inline-block;

}

.txt_btn {
    color: #000;
    text-decoration: none;
    transition: 0.15s linear;
    animation: text_btn 0.3s ease-in-out;
}


#msg_box {
    font-size: 25px;
}

.container {
    position: absolute;
    right: 22%;
    top: 50%;
    width: 30%;
    margin: 20px;
    display: grid;
    grid-template-rows: 80px 80px;
}

.register_container {
    position: absolute;
    top: 75%;
    left: 65%;
}

#register {
    font-size: 25px;
    width: 160px;
    height: 50px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #6d9886;
    box-shadow: 0px 0px 40px 5px rgb(0 0 0 / 22%);
}

.completed {
    border-color: white;
    background-color: #574da4;
    color: white;
    cursor: pointer;
}

.uncompleted {
    border: 1px solid #999999;
    background-color: #d7d7d7;
    color: #666666;
}


.col {
    margin-bottom: 20px;
}


.logo {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_text {
    font-size: larger;
    margin: 10px;
    font-weight: 700;
}

.login-word-2 {
    color: #497174;
}

hr {
    position: relative;
    top: 80px;
}

.replay-wrapper {
    position: absolute;
    top: 70%;
    left: 34%;
}

#replay {
    width: 100px;
    height: 100px;
    font-family: 'Material Icons';
    font-size: 96px;
    color: white;
    background: #EB6440;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s linear;
    box-shadow: 0px 0px 40px 5px rgb(0 0 0 / 22%);
}

.replay-icon {
    font-size: 40px;
}

.home-icon {
    position: absolute;
    top: 35px;
    right: 45px;
    color: #dedcdc;
    font-size: 35px;
    cursor: pointer;
}

.record-voice {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 50%;
}

#reset {
    font-size: 5px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 40px 5px rgb(0 0 0 / 22%);
    position: absolute;
    top: 55%;
    left: 85%;
    cursor: pointer;
}