<!DOCTYPE html>
<html lang="en" ng-app="recorder">

<head>
    <meta charset="UTF-8">
    <title>VASA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css?ddsswddwdwdwdwswwd">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-controller="RecorderController">
    <div class="logo">
        <div class="logo_img" style="display: inline-block;">
            <img src="static/logo.png" width="30" height="20">
        </div>
        <div class="logo_text" style="display: inline-block;">
            <span>VASA</span>
        </div>
    </div>
    <div class="fabs">
        <div class="chat is-visible">
            <div class="load-wrapp load-wrapp-9">
                <div class="load-9">
                    <p>辨識中</p>
                    <div class="spinner">
                        <div class="bubble-1"></div>
                        <div class="bubble-2"></div>
                    </div>
                </div>
            </div>
            <div class="load-wrapp load-wrapp-3">
                <div class="load-3">
                    <p>請說密碼</p>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="chat_header">
                <div class="chat_loader"></div>
                <div class="chat_option"><i class="zmdi zmdi-more-vert"></i>
                    <ul>
                        <li><span class="chat_color" style="border:solid 5px #2196F3" color="blue"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #00bcd4" color="cyan"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #607d8b" color="blue-grey"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #4caf50" color="green"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #8bc34a" color="light-green"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #cddc39" color="lime"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #ffc107" color="amber"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #ff5722" color="deep-orange"></span></li>
                        <li><span class="chat_color" style="border:solid 5px #f44336" color="red"></span></li>
                    </ul>
                </div>
                <span class="tag uninitialized" style="align-items: center;">Uninitialized <i class="fa fa-lock"
                        aria-hidden="true"></i></span>
            </div>
            <div id="chat_converse" class="chat_converse">
                <span class="chat_msg_item chat_msg_item_admin">
                    <div class="chat_avatar">
                        <i class="zmdi zmdi-headset-mic"></i>
                    </div>Hi! How may I be of service
                </span>
                <!-- <span class="chat_msg_item chat_msg_item_user">
          <div class="chat_avatar">
            <i class="zmdi zmdi-account"></i>
          </div>Ermm..
        </span> -->
            </div>
            <div class="fab_field">
                <a id="fab_listen" class="fab is-visible"><i class="zmdi zmdi-mic-outline"></i></a>
                <a id="fab_send" class="fab is-visible"><i class="zmdi zmdi-mail-send"></i></a>
                <textarea id="chatSend" name="chat_message" placeholder="Write a message"
                    class="chat_field chat_message"></textarea>
            </div>
            <div class="backdrop"></div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <a class="home-icon" href="http://127.0.0.1:5000">
        <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <div class="btn-group">
        <div class="row row-1">
            <button class="btn account_total_money">帳戶<br>餘額</button>
        </div>
        <div class="row">
            <button class="btn account_available_balance">可用<br>餘額</button>
        </div>
        <div class="row row-1">
            <button class="btn agreed_wire_transfer">約定<br>轉帳</button>
        </div>
        <div class="row">
            <button class="btn regular_wire_transfer">非約定轉帳</button>
        </div>
        <div class="row row-1">
            <button class="btn account_transaction_record">交易<br>紀錄</button>
        </div>
        <div class="row">
            <button class="btn share_account_imformation">分享<br>帳號</button>
        </div>
    </div>

    <!-- partial -->
    <script src='http://code.jquery.com/jquery-1.11.3.min.js?efe'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="static/script.js?gds3ds334dwdw"></script>
</body>

</html>