<!DOCTYPE html>
<html>

<head>
    <meta charset=“utf8”>
    <link rel="stylesheet" href="static/file_test.css?fefe" type="text/css">
</head>

<body>
    <div class="recording_recog">
        <h2>側錄辨識</h2>
        <input type="file" id="input_recording">
        <audio src="static/output.flac" autoplay controls></audio>
    </div>
    <div class="vertical-line"></div>
    <div class="synthesis_recog">
        <h2>合成辨識</h2>
        <input type="file" id="input_synthesis">
        <audio src="static/output.flac" autoplay controls></audio>
    </div>
</body>
</html>