<!DOCTYPE html>
<html lang="en" ng-app="recorder">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css?wwwdwdwdwfsedweewswd">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-controller="RecorderController">
    <div class="modal verifying">
        <i class="fa fa-spinner fa-spin fa-5x" id="modal_icon"></i>
        <div id="modal_status" style="font-weight: 900; font-size: 25px;"></div>
        <div id="failed_reason"></div>
    </div>

    <div class="page backcontent">
        <div class="container">
            <div class="logo">
                <div class="logo_img" style="display: inline-block;">
                    <img src="static/logo.png" width="30" height="20">
                </div>
                <div class="logo_text" style="display: inline-block;">
                    <span>VASA</span>
                </div>
            </div>
            <div class="left">
                <div class="login">
                    <span class="login-font login-word-1">L</span>
                    <span class="login-font login-word-2">o</span>
                    <span class="login-font login-word-1">g</span>
                    <span class="login-font login-word-1">i</span>
                    <span class="login-font login-word-1">n</span>
                </div>
                <div class="account_input">
                    <span style="font-weight: 600; margin-right: 5px;">帳號</span>
                    <input id="account" type="text">
                </div>
                <div class="change-password">
                    <button class="change-password-btn" onclick="location.href=''">
                        Forgot password?
                    </button>
                </div>
                <div class="eula">
                    <button class="enroll-btn" onclick="location.href='static/enroll.html'">
                        Register here
                    </button>
                </div>
            </div>
            <div class="right">
                <button class="record-btn" id="record-btn">
                    <i class="fa fa-microphone" id="icon_not_rec" aria-hidden="true"></i>
                    <i class="fa fa-square" id="icon_rec" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="backdrop"></div>
    <!-- partial -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js'></script> -->
    <!-- <script src="static/recorder_login.js?wwwssffrswwfqqwsw"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="static/app.js?dwdddwdwsxsxswwwwd"></script>
</body>

</html>