<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css?wwwdwdwdwfsedweewswd">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- partial:index.partial.html -->
    <!-- <div class="modal verifying">
        <i class="fa fa-spinner fa-spin fa-5x" id="spin-icon"></i>
        <div id="identify" style="font-weight: 900;">Identifying...</div>
    </div> -->
    <div class="modal verify_success">
        <i class="fa fa-check-circle fa-5x" id="spin-icon" style="color: white;"></i>
        <div id="identify" style="font-weight: 900; color: white;">Success</div>
    </div>
    <div class="page backcontent">
        <div class="container">
            <div class="left">
                <div class="login">Login</div>
                <!-- <form method="post" action="/">
                    <input type="submit" value="value1" name="action1">
                </form> -->
                <div class="eula"><button class="enroll-btn" onclick="location.href='static/enroll_page.html'">尚未註冊?</button>
                </div>
            </div>
            <div class="right">
                <button class="record-btn" id="record-btn">
                    <i class="fa fa-microphone" id="icon_not_rec" aria-hidden="true"></i>
                    <i class="fa fa-stop-circle fa-lg" id="icon_rec" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="backdrop"></div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js'></script>
    <script src="static/recorder_login.js?wwwssffrswwfqqwsw"></script>

</body>

</html>